#frame
{
    width: 50%;
    margin: 0 auto;
    
}
 
header
{
    height: 50px;

}

#logo
{
    float: left;
}

.main_nav
{
    float: right;
    position: relative;
    bottom: 40px;
}

.setMargin
{
    margin-right: 30px;
}

#kea_events
{
    position: relative;
    top: 25px;
 
}

li
{
    display: inline;
}

#top
{
   
}

h1
{
    font-size: 50px;
    position: relative;
    bottom: 40px;
    left: 60px;
   
}

h4
{
    opacity: 0.5;
    position: relative;
    left: 65px;
    bottom: 80px;

}

#subscribe_button
{
    position: relative;
    left: 600px;
    bottom: 130px;
    border: 1px solid gray;
    border-radius: 5px;


    font-weight: bold;
    height: 30px;

}

.noDec
{
    color: black;
    text-decoration: none;
}

#top_bottom
{
    margin: 0 auto;
    position: relative;
    top: -95px;
    left: 120px;
    margin-bottom: 0px;
}

#bottom
{
    position: relative;
    bottom: 70px;
}

h2
{
    text-align: center;
    font-size: 30px;
    margin-bottom: 70px;

}

#bottom_left
{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 60px;
}

.imgClassOne
{
    width: 160px;
    height: 100px;
    float: left;
    margin-bottom: 50px; 
    margin-right: 30px;
    
}


.imgClassTwo
{
    width: 150px;
    height: 150px;
    
}

#bottom_right
{
    float: right;
    position: relative;
    right: 30px;
    bottom: 500px;
    margin-bottom: -500px;
    
    
}

#button_more
{
    margin-top: 15px;
    float: right;
    border: 1px solid gray;
    border-radius: 5px;
    font-weight: bold;
    height: 20px;
    width: 300px;


}

.secondary_nav
{
    float: left;
    position: relative;
    left: -50px;
}

footer
{
    background: blue;
    line-height: 30px;
    
}
#copyright
{  
    
    display: inline-block;
    text-align: center;
    color: white;
    
    
}